<nav>
  <ul data-smart-menu>
    <li data-ui-sref-active="active">
      <a ui-sref="root.home" tilte="Privadas" ng-if="currentUser.roles[0] == 'admin'">
        <i class="fa fa-lg fa-fw fa-home"></i>
        <span class="menu-item-parent">Inicio</span>
      </a>
    </li>

    <li data-ui-sref-active="active" ng-show="currentUser.roles[0] == 'admin'">
      <a ui-sref="root.servicios" title="Privadas">
        <i class="fa fa-lg fa-fw fa-legal"></i>
        <span class="menu-item-parent">Servicios</span>
      </a>
    </li>

    <li data-ui-sref-active="active" ng-show="currentUser.roles[0] == 'admin'">
      <a ui-sref="root.registros" title="Privadas">
        <i class="fa fa-lg fa-fw fa-legal"></i>
        <span class="menu-item-parent">Registros</span>
      </a>
    </li>

  </ul>
</nav>